<a href="https://colab.research.google.com/github/desewenkdk/Python/blob/master/Intro_To_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import print_function
import pandas as pd
pd.__version__

'0.24.2'

In [20]:
#Series
pd.Series(['honkai3','starcraft','kartrider'])
#DataFRame with Series
myGames = pd.Series(['honkai3','starcraft','kartrider', 'bindingOfIssac'])
myGameLV = pd.Series([78,1400,7,'platinumGod'])
myGameTable = pd.DataFrame({'GameName':myGames, 'GameLV':myGameLV})
myGameTable.head()

         GameName       GameLV
0         honkai3           78
1       starcraft         1400
2       kartrider            7
3  bindingOfIssac  platinumGod

2진수 : 앞에 0b,  8진수: 앞에 0o, 16진수 :앞에0x

모두 int형으로 자동 컨버팅된다.

In [0]:
binary=0b0101
octa=0o544
hexa=0xAD1
print(binary,type(binary), octa,type(octa),hexa,type(hexa))

5 <class 'int'> 356 <class 'int'> 2769 <class 'int'>

**강력한 스트링 처리로 인해, 비정형데이터 처리에 굉장히 능숙하다.**

*정형데이터 : 엑셀, csv*

스트링만들기 : ' ', " ", """ """, ''' ''' 

" "내부에 ''기호 사용 가능하다.

여러줄 쓰려면, 
* 1. \n을 쓴다.
* 2. " " " \t" " " 사이에, 그냥 엔터 쳐서 뉴라인 만든다.
* 3. lstrip(), rstrip(), strip() = Delete Space in String.
* 4. replace("a", "b")=> replace character a to b
* 5. split("*delimeter*") : delimeter를 적어줘서, 스트링 내부에 있는 delimeter로 스트링을 쪼개버리자.

**LIST**
내부에, 여러가지 타입을 한꺼번에 집어넣을 수 있는 자료구조이다.
* +연산자 : list + list, *(&#42):list복사.
* del : delete elements, append: add to back
* sort: 정렬, **데이터가 많아지면 TPU, GPU를 쓰자.**
* index(*element name*), insert(*poistion*, *data*), remove(*value*):value중 첫 번째 위치에 있는 data를 제거.

In [18]:
list1 = [1,2.5,'string',['list',['nestedList']]]
list2 = [3,4,5]
type(list1[3])
type(list1[3][0])
list12 = list1 + list2
list12.insert(3,"fourth")
# list12.remove(0) : 없는 값은 remove하면 에러뜬다.
list12.remove('string')
print(list12)

[1, 2.5, 'fourth', ['list', ['nestedList']], 3, 4, 5]